doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 3legant
  body 
    include ./blocks/saleline.pug
    include ./blocks/header.pug
    main 
      include ./blocks/cart.pug
      include ./blocks/hero.pug
      include ./blocks/arrivals.pug
      include ./blocks/shop-collection.pug
      include ./blocks/best-seller.pug
      include ./blocks/promotion.pug
      include ./blocks/info.pug
      include ./blocks/newsletter.pug
    include ./blocks/footer.pug