:root {
  --container-width: 1440px;
  --container-padding: 160px;

  --font-main: "Inter", sans-serif;
  --font-accent: "Poppins", sans-serif;
  --font-nav: "SpaceGrotesk", sans-serif;

  --page-bg: #fff;
  --text-color: #000;
  --accent-color: #377dff;
}
