.newsletter {
  background-color: #e2e4e3;
}

.newsletter__container {
  background-image: url("./../images/newsletter/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("./../images/newsletter/bg@2x.jpg");
  }
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  padding-block: 101px 93px;

  .newsletter__header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .newsletter__text {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .newsletter__form {
    border-bottom: 1px solid #6c7275;
    width: 488px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 12px;

    .newsletter__field {
      display: flex;
      gap: 8px;
      border: none;
    }

    .newsletter__input {
      background-color: inherit;
      position: relative;

      &::placeholder {
        color: #6c7275;
      }
    }

    .newsletter__button {
      color: #6c7275;
      font-weight: 500;
      transition: all 0.3s ease;

      &:hover {
        color: #121212;
      }
    }
  }
}
