div.promotion__timer.timer 
  div.timer__days.timer__item
    div.timer__count.title-3.timer__day-count 02
    span Days
  div.timer__hours.timer__item
    div.timer__count.title-3.timer__hours-count 12
    span Hours
  div.timer__minutes.timer__item
    div.timer__count.title-3.timer__minutes-count 45
    span Minutes
  div.timer__seconds.timer__item
    div.timer__count.title-3.timer__seconds-count 05
    span Seconds