section.arrivals 
	div.container
		div.arrivals__header 
			div 
				h2.title-2.arrivals__title New Arrivals
			div.swiper-pagination 
	div.container-right
		div.swiper.arrivals__swiper
			div.swiper-wrapper.arrivals__cards