div.bg-filter
section.cart 
  div.cart__header 
    h2.title-2.cart__title Order summary
    button.cart__close-btn
      img.cart__close-img(src=require('./../../images/icons/close.svg'), alt="")
  div.cart__products.order
  div.card__footer 
    div.cart__total 
      p.cart__total-text Total
      p.cart__total-price $ 0.00