div.hero 
	div.hero__container 
		div.hero__content 
			h1.title-1.hero__title Listen to #[br] the #[span.hero__title--accent amazing] music sound.
			p.hero__text Experience music like never before
			button.button.hero__button Shopping Now
