section.info
  div.container
    div.info__block 
      div.info__item
        img.info__img(src=require('./../../images/info/shipping.svg') alt="")
        div.info__desc 
          h4.title-5.info_title Free Shipping
          p.info_text Order above $200
      div.info__item
        img.info__img(src=require('./../../images/info/finance.svg') alt="")
        div.info__desc 
          h4.title-5.info_title Money-back
          p.info_text 30 days guarantee
      div.info__item
        img.info__img(src=require('./../../images/info/lock.svg') alt="")
        div.info__desc 
          h4.title-5.info_title Secure Payments
          p.info_text Secured by Stripe
      div.info__item
        img.info__img(src=require('./../../images/info/call.svg') alt="")
        div.info__desc 
          h4.title-5.info_title 24/7 Support
          p.info_text Phone and Email support