section.promotion 
	div.promotion__colomns 
		div.promotion__image 
		div.promotion__block 
			div.promotion__header
				span.promotion__tagline PROMOTION
				h3.title-3.promotion__title Hurry up! 40% OFF
				p.promotion__desc Thousands of high tech are waiting for you

			div.promotion__offer
				p.promotion__experies Offer expires in:
				div.promotion__timer.timer 
					div.timer__days.timer__item
						div.timer__count.title-3.timer__day-count 02
						span Days
					div.timer__hours.timer__item
						div.timer__count.title-3.timer__hours-count 12
						span Hours
					div.timer__minutes.timer__item
						div.timer__count.title-3.timer__minutes-count 45
						span Minutes
					div.timer__seconds.timer__item
						div.timer__count.title-3.timer__seconds-count 05
						span Seconds


			button(type="button").button.promotion__button Shop now