section.promotion 
	div.promotion__colomns 
		div.promotion__image 
		div.promotion__block 
			div.promotion__header
				span.promotion__tagline PROMOTION
				h3.title-3.promotion__title Hurry up! 40% OFF
				p.promotion__desc Thousands of high tech are waiting for you

			div.promotion__offer
				p.promotion__experies Offer expires in:
				include ./../elements/timer.pug


			button(type="button").button.promotion__button Shop now