div.saleline
  img.saleline__icon(src=require('./../../images/icons/sale_ticket.svg') alt="")
  h4.saleline__desc.title-4 30% off storewide — Limited time!
  a.saleline__link.title-4(href="#!") Shop Now
    img(src=require('./../../images/icons/arrow_right.svg') alt="")
  button.saleline__close-btn(type="button") 
    img(src=require('./../../images/icons/close.svg'), alt="")